// =============================================================================
// HARRY DESIGN SYSTEM - DESIGN TOKENS
// =============================================================================

:root {
  /* 1. REF TOKENS */
  --harryds-ref-color-dark-100a: #111111;
  --harryds-ref-color-dark-80a: rgba(17 17 17 / 0.8);
  --harryds-ref-color-dark-60a: rgba(17 17 17 / 0.6);
  --harryds-ref-color-dark-40a: rgba(17 17 17 / 0.4);
  --harryds-ref-color-dark-20a: rgba(17 17 17 / 0.2);
  --harryds-ref-color-dark-10a: rgba(17 17 17 / 0.1);
  --harryds-ref-color-dark-5a: rgba(17 17 17 / 0.05);
  --harryds-ref-color-light-100a: #ffffff;
  --harryds-ref-color-light-80a: rgba(255 255 255 / 0.8);
  --harryds-ref-color-light-60a: rgba(255 255 255 / 0.6);
  --harryds-ref-color-light-40a: rgba(255 255 255 / 0.4);
  --harryds-ref-color-light-20a: rgba(255 255 255 / 0.2);
  --harryds-ref-color-light-10a: rgba(255 255 255 / 0.1);
  --harryds-ref-color-light-5a: rgba(255 255 255 / 0.05);
  --harryds-ref-size-40: 40px;
  --harryds-ref-size-40-rem: 2.5rem;
  --harryds-ref-size-20: 20px;
  --harryds-ref-size-20-rem: 1.25rem;
  --harryds-ref-size-10: 10px;
  --harryds-ref-size-10-rem: 0.625rem;
  --harryds-ref-size-5: 5px;
  --harryds-ref-size-5-rem: 0.3125rem;
  --harryds-ref-size-60: 60px;
  --harryds-ref-size-60-rem: 3.75rem;
  --harryds-ref-size-80: 80px;
  --harryds-ref-size-80-rem: 5rem;
  --harryds-ref-size-120: 120px;
  --harryds-ref-size-120-rem: 7.5rem;
  --harryds-ref-size-15: 15px;
  --harryds-ref-size-15-rem: 0.9375rem;
  --harryds-ref-size-30: 30px;
  --harryds-ref-size-30-rem: 1.875rem;
  --harryds-ref-font-size-120: 120px;
  --harryds-ref-font-size-120-rem: 7.5rem;
  --harryds-ref-font-size-80: 80px;
  --harryds-ref-font-size-80-rem: 5rem;
  --harryds-ref-font-size-60: 60px;
  --harryds-ref-font-size-60-rem: 3.75rem;
  --harryds-ref-font-size-36: 36px;
  --harryds-ref-font-size-36-rem: 2.25rem;
  --harryds-ref-font-size-24: 24px;
  --harryds-ref-font-size-24-rem: 1.5rem;
  --harryds-ref-font-size-20: 20px;
  --harryds-ref-font-size-20-rem: 1.25rem;
  --harryds-ref-font-size-18: 18px;
  --harryds-ref-font-size-18-rem: 1.125rem;
  --harryds-ref-font-size-16: 16px;
  --harryds-ref-font-size-16-rem: 1rem;
  --harryds-ref-font-size-12: 12px;
  --harryds-ref-font-size-12-rem: 0.75rem;
  --harryds-ref-font-size-14: 14px;
  --harryds-ref-font-size-14-rem: 0.875rem;
  --harryds-ref-color-green-50: #1ade99;
  --harryds-ref-color-red-50: #f03fa6;
  --harryds-ref-color-yellow-50: #e1aa2b;
  --harryds-ref-color-blue-50: #4f72fd;
  --harryds-ref-color-brand-50: #111111;

  /* 2. SYS TOKENS */
  --harryds-sys-color-primary-default: var(--harryds-ref-color-brand-50);
  --harryds-sys-color-dark-100a: var(--harryds-ref-color-dark-100a);
  --harryds-sys-color-dark-80a: var(--harryds-ref-color-dark-80a);
  --harryds-sys-color-dark-60a: var(--harryds-ref-color-dark-60a);
  --harryds-sys-color-dark-40a: var(--harryds-ref-color-dark-40a);
  --harryds-sys-color-dark-20a: var(--harryds-ref-color-dark-20a);
  --harryds-sys-color-dark-10a: var(--harryds-ref-color-dark-10a);
  --harryds-sys-color-dark-5a: var(--harryds-ref-color-dark-5a);
  --harryds-sys-color-light-100a: var(--harryds-ref-color-light-100a);
  --harryds-sys-color-light-80a: var(--harryds-ref-color-light-80a);
  --harryds-sys-color-light-60a: var(--harryds-ref-color-light-60a);
  --harryds-sys-color-light-40a: var(--harryds-ref-color-light-40a);
  --harryds-sys-color-light-20a: var(--harryds-ref-color-light-20a);
  --harryds-sys-color-light-10a: var(--harryds-ref-color-light-10a);
  --harryds-sys-color-light-5a: var(--harryds-ref-color-light-5a);
  --harryds-sys-color-success-default: var(--harryds-ref-color-green-50);
  --harryds-sys-color-error-default: var(--harryds-ref-color-red-50);
  --harryds-sys-color-info-default: var(--harryds-ref-color-blue-50);
  --harryds-sys-color-warning-default: var(--harryds-ref-color-yellow-50);
  --harryds-sys-spacing-xs: var(--harryds-ref-size-5);
  --harryds-sys-spacing-sm: var(--harryds-ref-size-10);
  --harryds-sys-spacing-default: var(--harryds-ref-size-15);
  --harryds-sys-spacing-med: var(--harryds-ref-size-20);
  --harryds-sys-spacing-lg: var(--harryds-ref-size-30);
  --harryds-sys-spacing-xl: var(--harryds-ref-size-40);
  --harryds-sys-spacing-xxl: var(--harryds-ref-size-60);
  --harryds-sys-spacing-xxxl: var(--harryds-ref-size-80);
  --harryds-sys-font-size-xs: var(--harryds-ref-font-size-12);
  --harryds-sys-font-size-sm: var(--harryds-ref-font-size-14);
  --harryds-sys-font-size-default: var(--harryds-ref-font-size-16);
  --harryds-sys-font-size-med: var(--harryds-ref-font-size-18);
  --harryds-sys-font-size-lg: var(--harryds-ref-font-size-20);
  --harryds-sys-font-size-xl: var(--harryds-ref-font-size-24);
  --harryds-sys-font-size-xxl: var(--harryds-ref-font-size-36);
  --harryds-sys-font-size-xxxl: var(--harryds-ref-font-size-60);
  --harryds-sys-font-size-huge: var(--harryds-ref-font-size-80);
  --harryds-sys-font-size-ex-huge: var(--harryds-ref-font-size-120);
}
